<p>Dear Woelly,</p>

<!-- <p>We are pleased to be at your service to help you with your corporate secretarial affairs.</p> -->

<!-- <p>Your approval is requested in the following link. On the linked page, you will see the relevant details as well as options to approve or delice it.</p> -->

<p>Your approval is requested by {$user_name}. You will see the relevant details as below as options to approve it.</p>

{$our_services_details}
<!-- <p>You may pay our bill by cheque or bank transfer. The detail of the bank for bank transfer can be in the invoice. </p>

<p>Kindly notify us via email to {$notify_email} once payment is made.</p>

<p>Please disregard this notice if you have made full payment for the bill.</p> -->

<!-- <p>For formality, kindly return a duly signed copy of the attached Secretarial Services Agreement.</p> -->
<p>If you are ready to make a selection now, use the appropriate button below:</p>

<a href="{$approval_link}" style="
	/*border-color: #D9A200 !important;
    background-color: #D9A200 !important; 
    color: #ffffff !important;*/
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    text-decoration: none;"><img src="{$approve_here_pic}"></a>

<a href="{$reject_link}" style="
	/*border-color: #eb1a32 !important;
    background-color: #eb1a32 !important; 
    color: #ffffff !important;*/
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    text-decoration: none;"><img src="{$reject_here_pic}"></a>

<p>This is a computer generated email, please do not reply to this email</p>

<p>Thank you.</p>

<p>ACUMEN ALPHA ADVISORY</p>