<p>Dear {company_name},</p>

<!-- <p>We are pleased to be at your service to help you with your corporate secretarial affairs.</p> -->

<p>Your latest e-bill is ready for view and download.</p>

<p>You may pay our bill by cheque or bank transfer. Our bank detail is available in the invoice. </p>

<p>Kindly notify us via email to {$notify_email} once payment is made.</p>

<p>Please disregard this notice if you have made full payment for the bill.</p>

<!-- <p>For formality, kindly return a duly signed copy of the attached Secretarial Services Agreement.</p> -->

<p>This is a computer generated email, please do not reply to this email. For clarification, please send an email to {$clarifi_email} or call us at {$call_us}.</p>

<p>Thank you.</p>
