<p>Dear Sir/Madam,</p>

<p style="text-align: justify;">With recent letter issued from ACRA, subject <strong>Requirement for Companies and limited liability Partnership to lodge Registrable Controllers' Information with ACRA</strong>. Please note that this is the new filing requirement from ACRA with effect from 30 July 2020.</p>

<p>Enclosed the introduction of the new filing requirement for your review and comments.</p>

<p><span style="text-decoration: underline;"><strong>ACTION REQUIRED FROM YOU:</strong></span><br />Kindly forward to us the following documents for your action:<br />1.&nbsp; &nbsp; &nbsp; &nbsp;Return us a sign copy of the resolution to authorise us as Registered Filing Agent (“RFA”).</p>

<p>2.&nbsp; &nbsp; &nbsp; &nbsp;Fill up / sign the attached document<br />&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; a.&nbsp; &nbsp; &nbsp; Declaration of controller; <strong>and</strong><br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; b.&nbsp; &nbsp; &nbsp; Declaration of nominee Director</p>

<p style="text-align: justify;">Our fees for lodgement of ACRA new fling requirement, Registers Of Registrable Controllers (“RORC”) is <strong><u>S$100</u></strong>/-.</p>


<p>Alternative, you perform your own filing to ACRA by Company CorpPass <strong>before 29 September 2020</strong>.</p>

<p>We are looking forward to your reply by <strong><u>20 August 2020</u></strong> if engage our services.</p>

<p>Thank you.</p>