<p>Dear {client_name},</p>
<p>It is my pleasure to welcome you to the firm.</p>
<p>You are joining at an exciting time of year, I am hopeful that with your fresh ideas and enthusiasm, you will progress far.</p>
There are few login credentials you need to keep safe before we begin:
<pre style="font-family: Trebuchet MS, Helvetica, sans-serif;padding-top: 0; font-size: 13px;">
    <span style="text-decoration: underline;">Your Email</span>
    <span>Username: {email}</span>
    <span>Password: </span><strong>Will be given to you separately</strong>
</pre>
 <pre style="font-family: Trebuchet MS, Helvetica, sans-serif;padding-top: 0; font-size: 13px;">
    <span style="text-decoration: underline;">Our System</span>
    <span>Username: {email}</span>
    <span>Password: </span><strong>Will be given to you separately</strong>
</pre>
<p>With these credentials you can login to necessary sites to perform necessary transactions.</p>
<p>The <span style="text-decoration: underline;font-weight: bold;">first thing</span> you need to do after receiving this email is to update and complete your employee profile in our system by logging in to <a href="bizfiles.com.sg/payroll">bizfiles.com.sg/payroll</a></p>
<p>Once you have updated your employee profile, do take some moment to <span style="text-decoration: underline;font-weight: bold;">read and understand</span> the company’s rules which can be found in <a href="bizfiles.com.sg/secretary">bizfiles.com.sg/secretary</a>. Go to User Profile which can be found on your top right dropdown menu and click on Rules tab. You are expected and presumed to have read the rules on the second day you report to work.</p>
<p>There are also other rules and routines that your assigned senior or manager will guide you on. Please ask your assigned senior or manager about:</p>
<ol>
  <li>Setting autoresponder when going on vacation</li>
  <li>How to apply leave from the system</li>
  <li>Our leave application policy</li>
  <li>How to issue invoice and when to issue</li>
  <li>How and when to claim for transport and others</li>
  <li>Arrangement and sequencing of your dropbox files and naming of the files</li>
  <li>Archiving files and moving to paper files and our color code</li>
  <li>Assigning client and how to get the code</li>
  <li>Completing timesheet</li>
  <li>Weekly update report</li>
</ol> 
<p>Once again, it is a pleasure to have you in our team and welcome to the team!!!</p>
<p>
Kind Regards,
<br/>
{site_name}
</p>