<!-- <h3>{logo}</h3> --><h4>Please confirm your registration</h4>
	<p>Hello {user_name},</p>
	<p>Thank you for registering at Acumen Secretary Assistant. Your account has been created and must be activated before you can use it.</p>
    <p>To activate your account, please click {activation_link} or copy the following URL to your browser {backup_link}.</p>
    <p>After activation, you may login to use the account with username and password that you have registered.</p>
    <p>This email is computer generated. Do not reply to this email.</p>

  	Regards,
    <br>
    <br>
    Acumen Secretary Assistant Team
    <br>
<!--     {site_name}{site_link}</p> -->