<p>Dear Sir/Madam;</p>
<p>Welcome to {firm_name}!</p>
<p>Enclosed is the invoice for our service render.</p>
<p>Please download the PDF to view your invoice. For mode of payment please refer to the enclosed invoice. Kindly email us at {firm_email} once payment is made.</p>
<!-- <p>Thank you for subscribing to our service. This is a gentle reminder that your bill for ({currency_name}) ${total_amount}.</p>
<p>To view the invoice PDF and make payment.</p> -->
<p>Please disregard this notice if you have made full payment for the Outstanding Amount.</p>

<p>This is a computer generated email, please do not reply to this email. For further queries please email to looi@aaa-global.com / paul@aaa-global.com or contact us at 62201939.</p>

<p>Thanks!</p>
<!-- <p>{content}</p> -->